<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MindDrop</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>
<body>
  <h1>Confirm OTP</h1>
  <p>A 6 digit code has been sent to "<span id="email"></span>"</p>
  <input type="text" placeholder="6 - digit code " id="code">
  <button id="verifyOtp">Verify</button>
  <footer>
	  &copy;2025 <p style="color:#ff6600"> ByteVit Ltd </p>| All Rights Reserved
  </footer>
</body>
</html>
