<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <title>MindDrop Landing</title>
</head>
<body>

  <nav>
    <div class="nav-logo" id="navLogo"></div>
    <div class="buttons">
      <button>Sign Up</button>
      <button>Login</button>
    </div>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="mobile-menu" id="mobileMenu">
      <button>Sign Up</button>
      <button>Login</button>
    </div>
  </nav>

  <div class="hero">
    <div class="hero-img"></div>
    <div class="hero-text">
      “A single drop of thought can ripple into a wave of brilliance.”
      <br>
      <button class="cta-btn">Get Motivated</button>
    </div>
  </div>
  <script src="../static/scripts/script.js"></script>
</body>
</html>
