<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static',filename='styles/styles.css')}}">
  <title>MindDrop Landing</title>
</head>
<body>

  <nav>
    <div class="nav-logo" id="navLogo"></div>
    <div class="buttons">
        <button><a href="{{url_for('signup')}}">Sign Up</a></button>
        <button><a href="{{url_for('login')}}">Login</a></button>
    </div>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="mobile-menu" id="mobileMenu">
        <button><a href="{{url_for('signup')}}">Sign Up</a></button>
        <button><a href="{{url_for('login')}}">Login</a></button>
    </div>
  </nav>

  <div class="hero">
    <div class="hero-img"></div>
    <div class="hero-text">
      “A single drop of thought can ripple into a wave of brilliance.”
      <br>
      <button class="cta-btn"><a href="{{url_for('signup')}}">Get Motivated</a></button>
    </div>
  </div>
  <script src="{{url_for('static',filename='scripts/script.js')}}"></script>
</body>
</html>
