<!DOCTYPE html><html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='styles/loader.css')}}">
  <title>MindDrop Loader</title>
</head>
<body>  <div class="logo"></div>  <h1>MindDrop</h1>
  <p>Nourish Your Mind, Elevate Your Day</p>
  <div class="from">from <span>ByteVit</span></div>  <div class="loader"></div></body>

  <!--script which renders the landing page-->
  <script>
      function check_internet(){
          fetch("{{url_for('internet_status')}}")
            .then(response => response.json())
            .then(data => {
                if(data.error){
                    alert("Connection Failed... Please connect to the internet and reload");
                }else{
                    window.location.href = "{{url_for('home')}}";
                }
            })
            .catch(error=>{
                alert("Error"+" " + error);
            })
      }
      document.addEventListener("DOMContentLoaded",check_internet)
  </script>
</html>
